<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <table class="table">
      <%= link_to "Show this product", product %>
    </table>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
